<!DOCTYPE html>
<html>
    <header>
    </header>
    <body>
        <p>Hi {{first_name_signup}}<br><br>
        Great news, you are officially part of the Capitant community!<br>
        Whether you are here to sharpen your investing skills or to take your very first steps in the stock market,<br>
        we are excited to have you on board. Confirm your Email now to get instant access to howtopickastock.com and to begin your journey in the world of finance.<br><br>
        Your confirmation link is:{{link}}.<br><br>
        Happy investing<br>
        team Capitant</p>
    </body>
</html>