<!doctype html>
<link  rel="stylesheet" href="{{ url_for('static', filename='sign_up.css') }}" />

<html>
<head>
    <title>HTPS Advanced</title>
</head>

<body>

    <div class="header_logo" id="header_logo">
        <p>HTPS</p>
    </div>

    <div class="position_intro" style="top: 100px">
        <p>Fill in the form below to register.</p>
    </div>

    <form action="/register" method="POST">
        <input type="text" name="voornaam" placeholder="First name"
        class="registration_form" style="top: 200px" required></input>
    
        <input type="text" name="last_name" placeholder="Last name"
        class="registration_form" style="top: 250px" required></input>

        <input type="email" name="email" placeholder="Email address" 
        class="registration_form" style="top: 300px" required></input>

        <input type="number" name="age" placeholder="Age"
        class="registration_form" style="top: 350px" required></input>

        <input type="text" name="study" placeholder="Field of study"
        class="registration_form" style="top: 400px" required></input>

        <input type="password" name="password" id="password" placeholder="Password"
        class="registration_form" style="top: 450px" required></input>

        <input type="password" name="repeat_password" id="repeat_password" placeholder="Repeat password"
        class="registration_form" style="top: 500px" required></input>

        <div id="password-message"></div><br>

        <input type="submit" class="make_account_button" id="submit-btn" 
        value="sign up" style="top: 550px" disabled>
    </form>

    <div class="position_alreadyacc" style="top: 620px">
        <p>Do you already have an account? Log in here please.</p>
    </div>

    <script src="{{ url_for('static', filename='sign_up.js') }}"></script>
</body>
</html>